
:root {
  --primary-light: #eee;
  --primary-dark: #333;

  --secondary-light: #fff;
  --secondary-dark: #0e0e0e;
}

* {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.3em;
  border: 1px solid var(--primary);
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: var(--primary);
  }
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em;
  border-bottom: 1px solid var(--primary);
  background-color: var(--secondary);

  .logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  ul {

    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    li {
      margin: 0 0.5em;
    }
  }
}

@media (prefers-color-scheme: dark) {

  :root {
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);

    color: var(--primary-light);
  }
}

@media (prefers-color-scheme: light) {

  :root {
    --primary: var(--primary-light);
    --secondary: var(--secondary-light);

    color: var(--primary-dark);
  }
}

